*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container {
  width: auto;
  border: 1px solid black;
  padding: 10px;
  margin-right: 25px;
}

.container:last-child {
  margin-right: 0;
}

h1 {
  font-size: 36px;
}

ul {
  margin: 20px;
  font-size: 24px;
}

p {
  font-size: 32px;
  max-width: 410px;
}

@media (max-width: 768px) {
  #root {
    display: block;
    margin: 0 auto;
  }

  .container {
    margin: 0;
  }
  h1 {
    font-size: 36px;
  }

  ul {
    font-size: 24px;
    padding-left: 10px;
  }
  p {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #root {
    display: block;
    margin: 0;
  }

  .container {
    margin: 0;
  }
  h1 {
    font-size: 36px;
  }

  ul {
    font-size: 32px;
    padding-left: 10px;
  }
  p {
    font-size: 36px;
  }
}
